@model List<WeeklyWorkTimeViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3 class="m-3">Haftalık Araç Çalışma Süreleri</h3>

<table class="table table-bordered table-hover mt-3">
    <thead class="table-light">
        <tr>
            <th>Araç Adı</th>
            <th>Plakası</th>
            <th>Aktif Çalışma Süresi (sa)</th>
            <th>Bakım Süresi (sa)</th>
            <th>Boşta Bekleme Süresi (sa)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Plate</td>
                <td>@item.ActiveWorkHours</td>
                <td>@item.MaintenanceHours</td>
                <td>@item.IdleTime</td>
            </tr>
        }

    </tbody>
</table>
