@using CarRental.Core.Entities
@model List<Car>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered table-hover mt-3">
    <thead class="table-light">
        <tr>
            <th>Araç Adı</th>
            <th>Plakası</th>
            <th>Aktif Çalışma Süresi (sa)</th>
            <th>Bakım Süresi (sa)</th>
            <th>Boşta Bekleme Süresi (sa)</th>
            <th>#</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Plate</td>
                @if (item.WorkTimes != null && item.WorkTimes.Any())
                {
                    @foreach (var wt in item.WorkTimes)
                    {
                        <td>@wt.ActiveWorkHours ?? 0</td>
                        <td>@wt.MaintenanceHours ?? 0</td>
                        <td>@wt.IdleTime ?? 0</td>
                    }
                }
                else
                {
                    <td colspan="3">Veri yok</td>
                }

                <td><a href="/Car/DeleteCar/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Car/EditCar/@item.Id" class="btn btn-outline-warning">Düzenle</a></td>
            </tr>
        }

    </tbody>
</table>

<a href="/Car/AddCar" class="btn btn-outline-primary">Yeni Araç Kaydı</a>