@model CarRental.Presentation.Models.UserViewModel
@{
    ViewData["Title"] = "UserCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section cta">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="cta-inner bg-light text-center rounded shadow p-5">
                    <h2 class="mb-4">Merhaba, @Model.FullName!</h2>

                    <h3>Kayıtlı Araçların</h3>
                    @if (Model.Cars != null && Model.Cars.Any())
                    {
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mt-3">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Araç Adı</th>
                                        <th>Plakası</th>
                                        <th>Aktif Çalışma Süresi (sa)</th>
                                        <th>Bakım Süresi (sa)</th>
                                        <th>Kayıt Tarihi</th>
                                        <th>Ücret</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var car in Model.Cars)
                                    {
                                        foreach (var wt in car.WorkTimes)
                                        {
                                            <tr>
                                                <td>@car.Name</td>
                                                <td>@car.Plate</td>
                                                <td>@wt.ActiveWorkHours</td>
                                                <td>@wt.MaintenanceHours</td>
                                                <td>@wt.RecordedDate.ToString("dd.MM.yyyy")</td>
                                                <td>@car.Price.ToString("C")</td>
                                                <td>
                                                    <a href="/Home/EditUserCar/@wt.Id" class="btn btn-outline-warning">Düzenle</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <a class="btn btn-outline-secondary mt-4" href="/Home/CreateUserCar">Yeni Bilgi Ekle</a>
                    }
                    else
                    {
                        <p>Henüz bir aracınız yok.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


